.list-items{
  margin-top: 2%;
    font-size: 1.8em;
    display: flex;
    color: #3A4454;
    max-width: 100%;
    overflow-wrap: break-word;
  }
  
  input[type=checkbox]{
    width: 25px;
    border-radius: 10%;
    margin-right: 5%;
    accent-color: #6B4E71;
  }

 input[type=checkbox]:checked + label{
      text-decoration: line-through;
  }
  
  .delete-item{
    margin-left: auto;
    align-self: center;
    height: 2rem;
    min-width: 2rem;
    width: fit-content;
    background-color: #6B4E71;
    color: beige;
    border-radius: 10%;
    font-size: 1.5rem;
  } 
  
  label {
    max-width: 80%;
  }