.list-items{
    font-size: 1.8em;
    line-height: 1.8;
    display: flex;
    flex-direction: row;
    color: #3A4454;
  }
  
  input[type=checkbox]{
    width: 25px;
    border-radius: 10%;
    margin-right: 5%;
    accent-color: #6B4E71;
  }

 input[type=checkbox]:checked + label{
      text-decoration: line-through;
  }
  
  .delete-item{
    margin-left: auto;
    align-self: center;
    height: 60%;
    width: fit-content;
    background-color: #6B4E71;
    border-radius: 10%;
  
  } 
  