body {
  background-color: #6B4E71;
}

.flex-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1 {
  color: #C2B2B4;
  font-size: 5em;
}


