.list-container {
  display: flex;
  flex-direction: column;
  background-color:#C2B2B4;
  min-width: 30vw;
  height: 60vh;
  margin-top: 2%;
  padding: 2%;
  overflow-y: hidden;
  text-align: left;
  border-radius: 5%;
  font-size : 1.2em;
  }

.task {
  background-color: red;
  
}
  
  /* width */
  ::-webkit-scrollbar {
    width: 1vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #8f767a;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  .item-input{
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
  }
  
  input[type=text]{
    width: 70%;
    line-height: 3em;
    border-radius: 10% 0% 0% 10% ;
  }
  
  ::placeholder{
    font-size: 1.8em;
    height: 1.8em;
    padding-left: 2%;
  }
  input.checkbox {
    min-width: 2em;
    min-height: 2em;
  }
  
  .add-task, .clear{
    line-height: 1.8em;
    background-color: #6B4E71;
    color:#f3ebec;
    border-radius: 0% 10% 10% 0%;
    width: 25%;
  }

  .clear {
    width: 100%;
  }

  #taskCounter {
    text-align: center;
    margin-top: 5%;
    align-self: flex-end;
  }
  
  .hidden {
    display:none;
  }


 